<div class="wrapper pt-4">
    <div class="card-body pt-4">
        <ul class="list-unstyled team-members pt-4">
            {{#each notifications}}
            <li>
                <div class="row">
                    <div class="col-md-2 col-2 text-right">

                    </div>

                    <div class="col-md-4 col-4 text-left text-dark">
                        <a href="{{link}}"><p class="h5 text-dark">{{content}}</p></a>
                    </div>
                    <div class="col-md-2 col-2 text-left">
                        <form action="/profile/updateNotification" method="POST">
                            <input type="hidden" value="{{_id}}" name="id"/>
                            <input type="hidden" value="{{#if read}}false{{else}}true{{/if}}" name="value"/>
                            {{!-- <button type="submit" class="btn btn-info w-100"><span>{{#if read}}Mark as Unread{{else}}Mark as Read{{/if}}</span></button> --}}
                            <button class="btn btn-sm btn-outline-success" type="submit">
                                {{#if read}}Mark as Unread{{else}}Mark as Read{{/if}}
                            </button>
                        </form>
                    </div>
                    <div class="col-md-2 col-2 text-right">
                        <form action="/profile/deleteNotification" method="POST">
                            <input type="hidden" value="{{_id}}" name="id"/>
                            <button class="btn btn-sm btn-outline-danger btn-round btn-icon" type="submit">
                                <i valign="middle" class="fa fa-close"></i>
                            </button>
                        </form>
                        
                    </div>
                    <div class="col-md-2 col-2 text-right">

                    </div>
                </div>
            </li>
            <hr>
            {{/each}}
        </ul>
    </div>
</div>