<div class="wrapper pt-4">
      <div class="content pt-5">
        <div class="row mx-0">
          <div class="col-md-12 borderbox">
            <div class="card">
              <div class="card-header">
                {{#if user.teacher}}
                <h4 class="card-title">Recommended Students</h4>
                {{/if}}
                {{#if user.student}}
                <h4 class="card-title">Recommended Teachers</h4>
                {{/if}}
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      {{#if user.teacher}}
                        <th>Name</th>
                        <th>Degree</th>
                        <th>Email</th>
                        <th>Subjects</th>
                        <th>Gender Preference</th>
                        <th class="text-right">Required</th>
                      {{/if}}
                      {{#if user.student}}
                        <th>Profile Headline</th>
                        <th>Name</th>
                        <th>Degree</th>
                        <th>Email</th>
                        <th>Contact No.</th>
                        <th>Subjects</th>
                        <th class="text-right">Expertise</th>
                      {{/if}}
                    </thead>
                    <tbody>
                      {{#if recommendations}}
                        {{#if user.teacher}}
                          {{#each recommendations}}
                            <tr>
                              <td>{{name}}</td>
                              <td>{{degree}}</td>
                              <td>{{email}}</td>
                              <td>{{subjects}}</td>
                              <td>{{genderPreference}}</td>
                              <td class="text-right">{{requirement}}</td>
                            </tr>
                          {{/each}}
                        {{/if}}
                        {{#if user.student}}
                          {{#each recommendations}}
                            <tr>
                              <td>{{profileHeadline}}</td>
                              <td>{{name}}</td>
                              <td>{{highestQualName}}</td>
                              <td>{{email}}</td>
                              <td>{{phone}}</td>
                              <td>{{subjects}}</td>
                              <td class="text-right">{{expertise}}</td>
                            </tr>
                          {{/each}}
                        {{/if}}
                      {{/if}}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
  </div>