<div class="wrapper pt-4">
    <div class="content pt-5">
        <div class="row mx-0">
            <div class="col-md-4 borderbox">
                <div class="card card-user">
                    <div class="image">
                        <img src="/img/damir-bosnjak.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <div class="author">
                            <a href="#">
                                <img id="displayPic" class="avatar border-gray" src="/img/faces/{{user.displayPic}}.jpg" alt="...">
                                <h5 class="title">{{user.name}}</h5>
                            </a>
                            <p class="description">
                                @{{user.userRole}}
                            </p>
                        </div>
                        <p class="description text-center">
                            {{#if user.teacher}}
                            <p>{{user.teacher.profileHeadline}}</p>
                            {{/if}}
                            {{#if user.student}}
                            <p>{{user.student.requirement}}</p>
                            {{/if}}
                        </p>
                    </div>
                    <div class="card-footer">
                        <hr>
                        <div class="button-container">
                            <div class="row">
                                {{#if user.student}}
                                    <div class="col-lg-7 col-md-12 col-12 ml-auto">
                                        <h5>Subjects<br>
                                        {{#each user.student.subjects}}
                                            <small>{{this}}</small><br>
                                        {{/each}}
                                        </h5>
                                    </div>
                                {{/if}}
                                {{#if user.teacher}}
                                    <div class="col-lg-7 col-md-12 col-12 ml-auto">
                                        <h5>Subjects<br>
                                        {{#each user.teacher.subjects}}
                                            <small>{{this}}</small><br>
                                        {{/each}}
                                        </h5>
                                    </div>
                                {{/if}}
                                <div class="col-lg-3 mr-auto">
                                    <h5>Free<br><small>Field</small></h5>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 borderbox">
                <div class="card card-user">
                    <div class="card-header">
                        <h5 class="card-title">Edit Profile</h5>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="/profile/update">
                            <div class="row">
                                <div class="col-md-6 pr-1">
                                    <div class="form-group">
                                        <label>User Name</label>
                                        <input type="text" class="form-control" name="name" placeholder="User Name" value="{{user.name}}">
                                    </div>
                                </div>
                                <input type="hidden" id="displayPicInput" name="displayPic" value="{{user.displayPic}}"/>
                                <div class="col-md-6 pl-1">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input type="email" class="form-control" disabled placeholder="{{user.email}}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 pr-1">
                                    <div class="form-group">
                                        <label>Degree</label>
                                        {{#if user.student}}
                                            <input type="text" class="form-control" name="degree" placeholder="Degree" value="{{user.student.degree}}">
                                        {{/if}}
                                        {{#if user.teacher}}
                                            <input type="text" class="form-control" name="highestQualName" placeholder="Degree" value="{{user.teacher.highestQualName}}">
                                        {{/if}}
                                    </div>
                                </div>
                                <div class="col-md-6 pl-1">
                                    <div class="form-group">
                                        <label>School / University</label>
                                        {{#if user.student}}
                                            <input type="text" class="form-control" name="school" placeholder="School/University" value="{{user.student.school}}">
                                        {{/if}}
                                        {{#if user.teacher}}
                                            <input type="text" class="form-control" name="highestQualSchool" placeholder="School/University" value="{{user.teacher.highestQualSchool}}">
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                            {{#if user.student}}
                            <div class="row pt-3 pb-2">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Gender Preferences (Teacher)</label>
                                        <select name="genderPreference" required>
                                            <option value="male">Male</option>
                                            <option selected value="female">Female</option>
                                            <option value="both">Male/Female</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            {{/if}}
                            {{#if user.teacher}}
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Level Of Expertise</label>
                                            <input type="text" class="form-control" placeholder="Level Of Expertise" value="{{user.expertise}}">
                                        </div>
                                    </div>
                                </div>
                            {{/if}}
                            <div class="row">
                                <div class="update ml-auto mr-auto">
                                    <input type="submit" class="btn btn-primary btn-round" onclick="demo.showNotifications('bottom','left','Proifle updated Successfully...')" value="Update Profile"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>